$white: #fff;
$lightBg: #F6F6F6;
$lightGray: #DEDEDE;
$middleGray: #878787;
$middleDarkGray: #646464;
$darkGray: #444444;
$black: #333333;

$primary: #FF4427;
$primaryDark: #D93920;

.primary{
    color: $primary;
}