.people{
    width: 24px;
    height: 24px;
    background-color: $primary;
    content: '';
    mask: url(/assets/images/people.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/people.svg) no-repeat center/contain;
    
    cursor: pointer;
}

.download{
    width: 24px;
    height: 24px;
    background-color: $primary;
    content: '';
    mask: url(/assets/images/download.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/download.svg) no-repeat center/contain;
    
    cursor: pointer;
}

.arrow_down{
    width: 21px;
    height: 21px;
    background-color: $darkGray;
    content: '';
    mask: url(/assets/images/arrow_down.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/arrow_down.svg) no-repeat center/contain;
    
    cursor: pointer;
}

.arrow_left{
    width: 16px;
    height: 16px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/arrow_left.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/arrow_left.svg) no-repeat center/contain;
    
    cursor: pointer;
}

.arrow_right{
    width: 16px;
    height: 16px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/arrow_right.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/arrow_right.svg) no-repeat center/contain;
    
    cursor: pointer;
}