// basic

// header
header {
    position: fixed;
    z-index: 100;
    top: 0;
    @include transition02;

    width: 100%;
    padding: 0 calc((100% - 1024px) / 2);
    background-color: $white;

    &.transparent {
        background-color: transparent;

        @include web{
            &:hover {
                background-color: $white;
                .header_wrap_pc .top_menu > li p{
                    color: $black;
                }
            }
        }
    }

    &.blackBg{
        .header_wrap_pc .top_menu > li p{
            color: $white;
        }
    }
}

@keyframes menuHeight {
    from {
        max-height: 0;
    }

    to {
        max-height: 180px;
    }
}


@keyframes menuHeightOff {
    from {
        max-height: 180px;
    }

    to {
        max-height: 0;
    }
}

.header_wrap_pc {
    @include flex_between_center;

    .logo_wrap {
        width: 140px;
        margin-right: 80px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    .top_menu {
        @include flex_start_center;

        >li {
            width: 130px;
            margin-right: 60px;
            cursor: pointer;

            p {
                @include boldP;
                font-weight: 800;
                @include transition02;
                color: $black;
                padding: 30px 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                p {
                    color: $primary !important;
                }

                .header_sub {
                    animation-name: menuHeight;
                    opacity: 1;
                }
            }
        }
    }

    .ico_btn {
        background-color: $lightBg;
        @include transition02;

        &:hover {
            background-color: #F0F0F0;
        }
    }

    .menu_wrap {
        @include flex_start_center;
    }
}

.ico_btn {
    @include flex_start_center;
    align-items: center;

    padding: 6px 20px 6px 19px;
    cursor: pointer;

    >div:first-child {
        margin-right: 9px;
    }

    P {
        @include boldP;
    }
}

.header_sub {
    @include transition04;
    position: fixed;
    top: 82px;
    left: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;

    width: 100%;
    padding: 0 calc((100% - 1024px) / 2);
    background-color: rgba($color: $white, $alpha: 0.8);

    animation-duration: .4s;
    animation-fill-mode: forwards;

    ul {
        padding: 21px 0;
    }

    li {
        @include medSmallP;
        @include transition02;
        font-size: 15px;
        color: $black;

        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: $primary;
        }
    }

    &.header_sub_1 ul {
        margin-left: 220px;
    }

    &.header_sub_2 ul {
        margin-left: 410px;
    }

    &.header_sub_3 ul {
        margin-left: 600px;
    }
}

// header_mobile
.header_wrap_mobile {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px;
    @include flex_between_center;
    z-index: 100;

    .logo_wrap{
        width: 120px;
        img{
            width: 100%;
        }
    }

    .button_container {
        position: relative;
        width: 23px;
        height: 19px;
        cursor: pointer;
        transition: opacity .25s ease;

        &:hover {
            opacity: .7;
        }

        &.active {
            .top {
                transform: translateY(5px) translateX(0) rotate(45deg);
                background: $primary;
            }

            .middle {
                opacity: 0;
                background: $primary;
            }

            .bottom {
                transform: translateY(-11px) translateX(0) rotate(-45deg);
                background: $primary;
            }
        }

        span {
            background: $primary;
            border: none;
            height: 2px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .35s ease;
            cursor: pointer;

            &:nth-of-type(2) {
                top: 8px;
            }

            &:nth-of-type(3) {
                top: 16px;
            }
        }
    }

}

.mobile_menu_popup{
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    padding: 80px 20px 50px 20px;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $white, $alpha: 0.9);
    overflow: scroll;
    display: none;
    opacity: 0;
    @include transition04;

    &.on{
        display: block;
        opacity: 1;
    }

    >div{
        min-height: calc(100vh - 130px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer_wrap{
        margin-top: 50px;
    }

    .footer_wrap .top_menu > li p{
        color: $black
    }
}

.mobile_menu_btn_wrap{
    @include flex_between_center;
    margin-bottom: 36px;
    
    .ico_btn{
        width: calc(50% - 6px);
        justify-content: center;
        padding: 9px 20px 9px 19px;

        &:first-child{
            border: 1px solid $lightGray;
        }

        &:nth-child(2){
            background-color: $black;
            p{
                color: $white;
            }
        }
    }
}

.mobile_menu_wrap{
    >li{
        >div:first-child{
            @include flex_between_center;
            padding: 12px 12px 12px 0;
            border-bottom: 1px solid $lightGray;

            p{
                color: $black;
                @include boldP;
                font-size: 19px;
                font-weight: 800;
            }
        }

        ul{
            @include flex_start;
            flex-wrap: wrap;

            max-height: 0;
            opacity: 0;

            @include transition04;
            animation-duration: .4s;
            animation-fill-mode: forwards;

            >li{
                width: 50%;
                @include medP;
                color: $darkGray;
                margin-top: 20px;

                &:last-child{
                    margin-bottom: 30px;
                }
            }
        }

        &.on{
            ul{
                animation-name: menuHeight;
                opacity: 1;
            }

            .arrow_down{
                transform: rotate(180deg)
            }
        }

        &.off{
            ul{
                animation-name: menuHeightOff;
            }
        }
    }
}

// footer
footer {
    @include transition02;

    width: 100%;
    padding: 50px calc((100% - 1024px) / 2);
    padding-bottom: 80px;
    background-color: $primary;
    color: $white;

    position: relative;
}

.footer_wrap {
    @include flex_start;
    margin-bottom: 40px;

    .logo_wrap {
        width: 140px;
        margin-right: 36px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    .top_menu {
        @include flex_start_center;

        >li {
            padding-right: 20px;
            cursor: pointer;

            p {
                @include boldP;
                font-size: 13px;
                @include transition02;
                color: rgba($color: $white, $alpha: 0.8);
            }

            &:last-child {
                padding-right: 0;
            }

            &:nth-child(2),
            &:nth-child(4) {
                p {
                    color: rgba($color: $white, $alpha: 0.5);
                }
            }
        }
    }
}

.footer_sub_text {
    .medSmallP {
        margin-bottom: 16px;
    }

    .regSmallP {
        opacity: 0.8;
    }
}

footer .ico_btn {
    width: fit-content;
    background-color: rgba($color: $black, $alpha: 0.3);
    @include transition02;
    padding: 6px 18px 6px 17px;

    &:hover {
        background-color: rgba($color: $black, $alpha: 0.4);
    }

    p span {
        font-weight: 400;
    }
}

@include web {
    footer {
        .ico_btn {
            position: absolute;
            top: 50px;
            left: calc(50% + 512px);
            transform: translateX(-100%);
        }
    }

    .header_wrap_mobile{
        display: none;
    }
}

@include mobile {
    //header
    header {
        padding: 12px 20px;
        background-color: $white;
    
        &.transparent {
            background-color: transparent;
        }
    }

    .header_wrap_pc{
        display: none;
    }

    .header_wrap_mobile{
        @include flex_between_center;
    }

    footer {
        padding: 80px 20px;
    }

    .footer_wrap {
        flex-direction: column;
        margin-bottom: 20px;

        .logo_wrap {
            margin-bottom: 20px;
        }
    }

    .footer_wrap .top_menu>li {
        padding-right: 12px;
    }

    .footer_sub_text {
        margin-bottom: 20px;

        p {
            font-size: 12px;
        }
    }

    footer {
        .ico_btn {
            p {
                font-size: 14px;
            }
        }
    }
}

//index
.main_swiper_wrap {
    width: 100%;
    height: 56.25vw;
    min-height: calc(100vh - 304px);
    overflow: hidden;
    position: relative;

    @include mobile{
        height: 160vw !important;
        min-height: unset;
    }

    .main_swiper_container{
        height: 100%;

        .swiper-button-prev{
            left: calc(50% - 512px);
            @include mobile{
                left: 20px;
            }
        }

        .swiper-button-next{
            right: calc(50% - 512px);
            @include mobile{
                right: 20px;
            }
        }

        .swiper-button-next,
        .swiper-button-prev{
            top: 44vw;
            opacity: 0.6;

            @include mobile{
                top: 118vw !important;
                transform: scale(0.7);
            }
        }

        .swiper-button-next:after, 
        .swiper-button-prev:after{
            height: 100%;
            color: $black;
            transform: scale(0.5);
        }

        .swiper-button-next.blackBg:after, 
        .swiper-button-prev.blackBg:after{
            color: $white;
        }

        .swiper-button-prev::before,
        .swiper-button-next::before{
            content: '';
            @include boldBigerP;
            color: $black;
            margin: 0 10px;
            @include fix_center;
        }

        .swiper-button-prev.num0::before{
            content: '03';
        }
        .swiper-button-next.num0::before{
            content: '02';
        }

        .swiper-button-prev.num1::before{
            content: '01';
        }
        .swiper-button-next.num1::before{
            content: '03';
        }

        .swiper-button-prev.num2::before{
            content: '02';
        }
        .swiper-button-next.num2::before{
            content: '01';
        }

        .swiper-button-prev.blackBg::before,
        .swiper-button-next.blackBg::before{
            color: $white;
        }

        .swiper-button-next::before{
            left: -30px;
        }

        .swiper-button-prev::before{
            left: 35px;
        }
    }
}

.main_swiper_slide{
    width: 100%;
    height: 100%;
    @include bgCover;

    >div{
        width: 1024px;
        @include fix_center;
        padding-bottom: 100px;

        @include mobile{
            width: calc(100% - 40px) !important;
        }
    }

    .GoodTimesRg{
        font-size: 5vw;
        color: $primary;
        margin-bottom: 20px;

        @include mobile{
            font-size: 11vw !important;
        }
        
        span{
            color: $black;
            @include GoodTimesRg;
        }
    }

    .regbigP{
        line-height: 180%;
        span{
            font-weight: 700;
        }

        @include mobile{
            font-size: 14px;
        }
    }

    &.blackBg{
        .GoodTimesRg span{
            color: $white
        }

        .regbigP{
            color: $white
        }
    }
}