//index
.main_swiper_wrap {
    width: 100%;
    height: 56.25vw;

    .main_swiper_container{
        height: 100%;
    }
}

.main_swiper_slide{
    position: relative;
    width: 100%;
    height: 100%;
    @include bgCover;


    >div{
        width: 1024px;
        position: absolute;
        margin: 0 auto;
    }

    .GoodTimesRg{
        font-size: 5vw;
        color: $primary;
        span{
            color: $black;
            @include GoodTimesRg;
        }
    }
}